* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Fonts */
@font-face {
  font-family: "DMSans-Regular";
  src: url("../fonts/DM_Sans/DMSans-Regular.ttf");
  format: "true-type";
}

@font-face {
  font-family: "DMSans-Bold";
  src: url("../fonts/DM_Sans/DMSans-Bold.ttf");
  format: "true-type";
}

/* Global styles */
:root {
  /* Main Accent */
  --light-orange: hsl(28, 100%, 79%);
  --light-violet: hsl(329, 36%, 59%);
  --light-blue: hsl(229, 100%, 67%);

  /* Neutral Colors */
  --very-light-grey: hsl(0, 50%, 98%);
  --light-grey: hsl(0, 0%, 87%);
  --medium-grey: hsl(0, 1%, 67%);
  --dark-grey: hsl(0, 1%, 36%);
  --very-dark-grey: hsl(0, 0%, 11%);
  --pure-black: hsl(0, 0%, 0%);
  --pure-white: hsl(0, 0%, 100%);
}

body {
  font-family: "DMSans-Regular";
  font-size: 15px;
}

h1,
h2 {
  font-family: "DMSans-Regular";
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.25rem;
}

h1 {
  color: var(--pure-white);
}

h3 {
  font-family: "DMSans-Regular";
  font-size: 0.65rem;
  color: var(--pure-white);
}

p {
  font-family: "DMSans-Regular";
  font-size: 0.75rem;
  color: var(--light-grey);
}

/* Navigation */
.top-nav .container {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.top-nav-logo {
  margin: 0 0 0 12rem;
  width: 25%;
}

.top-nav ul {
  display: flex;
  margin-left: 7rem;
}

.top-nav ul li a {
  font-weight: bold;
  margin-right: 3rem;
}

.top-nav ul li a:hover {
  color: var(--light-grey);
  transition: all 750ms ease;
}

.top-nav li {
  list-style-type: none;
}

.top-nav a {
  font-family: "DMSans-Regular";
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--pure-black);
  justify-self: center;
  margin-right: 1rem;
  text-decoration: none;
}

/* Invite Button */
.top-nav .invite-button {
  width: 60%;
  color: var(--very-dark-grey);
  margin-left: 10rem;
}

.top-nav .invite-button button:hover {
  background: var(--dark-grey);
  transition: all 750ms ease;
}

.top-nav button {
  padding: 0.5rem 0.75rem;
  background: var(--pure-black);
}

.top-nav button a {
  font-size: 0.6rem;
  margin: 0 auto;
  color: var(--pure-white);
}

button {
  background: var(--very-dark-grey);
  padding: 0 2.5rem;
}

/* Header */
.header-container,
.features-header-container,
.pricing-header-container {
  display: flex;
  width: 90%;
  margin: 0 8rem;
}

header button a {
  color: var(--pure-black);
}

header h1,
.features-header h1,
.pricing-header h1 {
  width: 70%;
  margin: 5rem 0 1rem 5rem;
}

header p,
.features-header p,
.pricing-header p {
  width: 65%;
  margin-left: 5rem;
}

.header-link,
.features-header-link {
  margin: 2rem 0 0 5rem;
}

.header-link a,
.features-header-link a {
  color: var(--pure-white);
  text-decoration: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.header-link a:hover,
.story-link a:hover {
  text-decoration-line: underline;
  text-underline-offset: 0.5rem;
  transition: all 1000ms ease;
}

.header-image {
  background: url("../assets/home/desktop/create-and-share.jpg") no-repeat
    center top/cover;
  width: 50%;
  height: 75vh;
}
